@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__illustration/lead__illustration.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  margin: 0 auto;
  padding: 1.5rem 0 1.875rem;
}

@media screen and (min-width: 1024px) {
  .lead {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .lead {
    width: 77%;
  }
}
