.footer__link {
  display: block;
  font-size: 1.5rem;
  line-height: 1.5625rem;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 700px) {
  .footer__link {
    font-size: 1rem;
    line-height: 1.6875rem;
    margin-right: 1.125rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 1.6875rem;
  }
}