.logo {
  background-image: url('./img/logo.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 8.875rem;
  height: 2.625rem;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 11rem;
    height: 3.25rem;
  }
}
