.video__duration {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 0.8125rem;
  letter-spacing: 0.3em;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin: 0;
  align-self: flex-start;
  }
