.video__title {
  width: 15.625rem;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 2.25rem;
  line-height: 2.4375rem;
  font-weight: 900;
  margin: 0 0 0.6rem;  
}

@media screen and (max-width: 1024px) {
  .video__title {
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
}

@media screen and (max-width: 767px) {
  .video__title {
    width: 55%;
  }
}