@import url(./__title/intro__title.css);
@import url(./__paragraph/intro__paragraph.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__note/intro__note.css);
@import url(./__span-accent/intro__span-accent.css);

.intro {
  display: grid;
  grid-template-columns: minmax(1fr, 100%);
  grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
  justify-items: start;
  row-gap: 2rem;
  padding: 2rem 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro {
    padding: 2rem 1.5rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .intro {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .intro {
    padding: 2rem 9.25rem;
  }
}

@media screen and (min-width: 1440px) {
  .intro {
    padding: 2rem 14.25rem;
  }
}