@import url(./__image/cover__image.css);
@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  display: grid;
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  .cover {
    padding: 3.1875rem 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    padding: 3.1875rem 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .cover {
    padding: 3.1875rem 8rem;
  }
}