.intro__paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6875rem;
  color: #ffffff;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .intro__paragraph {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .intro__paragraph {
    max-width: 43.25rem;
  }
}