.intro__paragraph {
  max-width: 42.6875rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #ffffff;
  margin: 0 0 1.5rem 0;
}