.video__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 0.9375rem;
  color: #ffffff;
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  margin: 0;
  align-self: flex-end;
}