.lead__caption {
  max-width: 18rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
  padding-left: 1rem;
}

@media screen and (min-width: 375px) {
  .lead__caption {
    max-width: 21.4375rem;
  }
}

@media screen and (min-width: 768px) {
  .lead__caption {
    max-width: 39.75rem;
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    padding-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .lead__caption {}
}

@media screen and (min-width: 1440px) {
  .lead__caption {}
}