.video__link_img_kamchatka {
  background-image: url(../../img/kamchatka.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}