.video__link_img_observatory {
  background-image: url(../../img/observatory.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}