.header__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 1rem;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__list {
    grid-gap: 1.125rem;
  }
}