.place__url {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #ffffff;
  margin: 0;
  transition: opacity 0.5s ease;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
}

.place__url:hover {
  opacity: 0.7;
}