.lead__illustration {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  grid-area: illustration;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .lead__illustration {
  }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .lead__illustration {
  }
}

@media screen and (min-width: 1440px) {
  .lead__illustration {
  }
}