.intro__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.1875rem;
  color: #ffffff;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 3.375rem;
    line-height: 3.6875rem;
  }
}